/* Empty. Add your own CSS if you like */
.title.title-center.header-item {
  padding-top: 15px;
  overflow: initial;
}

ion-header-bar.bar-stable.bar.bar-header {
  min-height: 60px;
}

ion-content.padding.scroll-content.ionic-scroll.has-header.has-tabs {
  background: #631918 !important;
  margin-top: 20px;
}
