html {
    height  : 100%;
    overflow: hidden;
}
body {
    height  : 100%;
    overflow: auto;
}

/* SET MARGINS */
.m0{margin: 0}

.mb1{margin-bottom: 1em}
.mb2{margin-bottom: 2em}
.mb3{margin-bottom: 3em}

.mt0{margin-top: 0em}
.mt1{margin-top: 1em}
.mt2{margin-top: 2em}
.mt3{margin-top: 3em}


.mr1{margin-right: 1em}
.mr2{margin-right: 2em}
.mr3{margin-right: 3em}

.mln1{margin-left: -1em}
.ml1{margin-left: 1em}
.ml2{margin-left: 2em}
.ml3{margin-left: 3em}

.mlr-1{  margin-left: 1em;  margin-right: 1em;  }



/* SET PADDING */
.p0{padding: 0}
.p1{padding: 1em}

.pb1{padding-bottom: 1em}
.pb2{padding-bottom: 2em}
.pb3{padding-bottom: 3em}

.pt1{padding-top: 1em}
.pt2{padding-top: 2em}
.pt3{margin-top: 3em}

.pr1{padding-right: 1em}
.pr2{padding-right: 2em}
.pr3{padding-right: 3em}

.pl0{padding-left: 0}
.pl1{padding-left: 1em}
.pl2{padding-left: 2em}
.pl3{padding-left: 3em}



/* Displays */
.inline-block{display: inline-block}

/* Unique */


div#beerList {
    border: none;
}

div#addForm {
    margin: 0;
    margin-bottom: 15px;
}



.list-group-item {
    margin-left: 0px;
    padding: 10px;
}

#detailList p{
    display: block;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.jumbotron p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 200;
}

.active:hover{
    background-color: #428bca!important;
}


.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
    margin:10px; /* create gap between buttons for display, you can remove this*/
}


.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.1s;
}

.animate-show.ng-hide {
    line-height: 0;
    padding: 0 10px;
}
