
<ion-view view-title="<img src='../img/logo.jpg' style='width:35px'>">
  <ion-content class="padding" >
    <ion-list ng-init="getBeersOnTap()">

      <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="beer in beersOnTap" type="item-text-wrap" href="#/tab/beer/{{beer.id}}">
      <img src="../img/beer.ico" class="img-rounded"/>
        <h2>{{beer.beer_name}}</h2>
        <p>{{beer.brewery_name}} -- {{beer.brewery_state}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


